@inherits LayoutComponentBase

<div class="page">
    <main>
        <DisplayDialog />
        <PopupContainer />
        <NavigationPage BarBackgroundColor="#007BFF" BarTextColor="white">
            @Body
        </NavigationPage>
    </main>
</div>



